node_modules/
.next/
.env
.env.*
dist/
build/
.DS_Store
.vscode/
.idea/
yarn-error.log
npm-debug.log
yarn.lock
package-lock.json
/.pnp
/.pnp.js
coverage/
logs/
*.log
debug.log*
/.parcel-cache
/.cache
.turbo
public/uploads/